In [1]:
import pandas as pd
import numpy as np

In [2]:
def load_data(filename):
    df = pd.read_csv(filename, sep=";")
    return df

In [3]:
catgDF = load_data("data/categories.csv")
cityDF = load_data("data/cities.csv")
ctryDF = load_data("data/countries.csv")
custDF = load_data("data/customers.csv")
emplDF = load_data("data/employes.csv")
prodDF = load_data("data/products.csv")
saleDF = load_data("data/sales.csv")

In [4]:
saleDF.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,NaN,"0,00",2018-02-05 07:38:25.430,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,NaN,"0,00",2018-02-02 16:03:31.150,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,NaN,"0,00",2018-05-03 19:31:56.880,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,"0,00",2018-04-07 14:43:55.420,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,NaN,"0,00",2018-02-12 15:37:03.940,4BGS0Z5OMAZ8NDAFHHP3

In [18]:
prodDF.head()

,ProductID,ProductName,Price,CategoryID,Class,ModifyDate,Resistant,IsAllergic,VitalityDays
0,1,Flour - Whole Wheat,"74,2988",3,Medium,2018-02-16 08:21:49.190,Durable,NaN,NaN
1,2,Cookie Chocolate Chip With,"91,2329",3,Medium,2017-02-12 11:39:10.970,NaN,NaN,NaN
2,3,Onions - Cippolini,"9,1379",9,Medium,2018-03-15 08:11:51.560,Weak,False,111.0
3,4,"Sauce - Gravy, Au Jus, Mix","54,3055",9,Medium,2017-07-16 00:46:28.880,Durable,NaN,NaN
4,5,Artichokes - Jerusalem,"65,4771",2,Low,2017-08-16 14:13:35.430,Durable,True,27.0

In [22]:
mostProdDF = saleDF[["CustomerID", "ProductID", "Quantity"]].groupby(["CustomerID", "ProductID"],as_index=False).sum()

In [23]:
mostProdDF.shape

(6272232, 3)

In [24]:
mostProdDF.head()

   CustomerID  ProductID  Quantity
0           1          4         1
1           1          7         1
2           1         37         1
3           1         42         1
4           1         51         1

In [25]:
mostProdDF["Discount"] = 0.0

In [26]:
mostProdDF.head()

   CustomerID  ProductID  Quantity  Discount
0           1          4         1       0.0
1           1          7         1       0.0
2           1         37         1       0.0
3           1         42         1       0.0
4           1         51         1       0.0

In [29]:
mostProdDF.dtypes

CustomerID      int64
ProductID       int64
Quantity        int64
Discount      float64
dtype: object

In [30]:
low = []
high = []
medium = []
for index, row in prodDF.iterrows():
    if(row["Class"] == "Low"):
        low.append(row["ProductID"])
    elif(row["Class"] == "Medium"):
        medium.append(row["ProductID"])
    else:
        high.append(row["ProductID"])

In [34]:
for index, row in mostProdDF.iterrows():
    pid = row["ProductID"]
    if(pid in low):
        mostProdDF.at[index, "Discount"] = 0.03
    elif(pid in medium):
        mostProdDF.at[index, "Discount"] = 0.05
    else:
        mostProdDF.at[index, "Discount"] = 0.1

In [35]:
mostProdDF[mostProdDF["Discount"]!=0].head()

   CustomerID  ProductID  Quantity  Discount
0           1          4         1      0.05
1           1          7         1      0.05
2           1         37         1      0.03
3           1         42         1      0.10
4           1         51         1      0.05

In [37]:
mostProdDF.to_csv(path_or_buf="mostBuyProduct.csv", index=False)

In [38]:
mostProdDF.shape

(6272232, 4)

In [39]:
mostProdDF["Quantity"].max()

125

In [48]:
mostDF = mostProdDF.groupby("CustomerID").agg({"ProductID":"first", "Quantity":"max", "Discount":"first"})

In [49]:
mostDF.tail()

            Discount  Quantity  ProductID
CustomerID
98755           0.05        50          2
98756           0.03        50         11
98757           0.10        50          6
98758           0.05        50          8
98759           0.03        75         13

In [52]:
mostDF.head()

            Discount  Quantity  ProductID
CustomerID
1               0.05         2          4
2               0.03         2         10
3               0.05         2          1
4               0.05         2          1
5               0.05         2          2

In [53]:
mostDF.to_csv(path_or_buf="mostBuyProduct.csv")

In [86]:
saleDF["SalesDate"] = pd.to_datetime(saleDF["SalesDate"])

In [87]:
saleDF["SalesDate"] = saleDF["SalesDate"].dt.date

In [88]:
saleDF.head()

,SalesID,SalesPersonID,CustomerID,ProductID,Quantity,Discount,TotalPrice,SalesDate,TransactionNumber
0,1,6,27039,381,7,NaN,"0,00",2018-02-05,FQL4S94E4ME1EZFTG42G
1,2,16,25011,61,7,NaN,"0,00",2018-02-02,12UGLX40DJ1A5DTFBHB8
2,3,13,94024,23,24,NaN,"0,00",2018-05-03,5DT8RCPL87KI5EORO7B0
3,4,8,73966,176,19,0.2,"0,00",2018-04-07,R3DR9MLD5NR76VO17ULE
4,5,10,32653,310,9,NaN,"0,00",2018-02-12,4BGS0Z5OMAZ8NDAFHHP3

In [102]:
saleDF.dtypes

SalesID                int64
SalesPersonID          int64
CustomerID             int64
ProductID              int64
Quantity               int64
Discount             float64
TotalPrice            object
SalesDate             object
TransactionNumber     object
dtype: object

In [103]:
saleDF["SalesDate"] = pd.to_datetime(saleDF["SalesDate"], format="%Y-%m-%d")

In [104]:
dateCountDF = saleDF[["CustomerID", "SalesDate"]].groupby("CustomerID").count().reset_index()

In [105]:
dateCountDF.head()

   CustomerID  SalesDate
0           1         63
1           2         63
2           3         70
3           4         69
4           5         59

In [106]:
dateMaxDF = saleDF[["CustomerID", "SalesDate"]].groupby("CustomerID").max().reset_index()

In [107]:
dateMaxDF.head()

   CustomerID  SalesDate
0           1 2018-05-06
1           2 2018-05-04
2           3 2018-05-09
3           4 2018-05-08
4           5 2018-05-09

In [108]:
dateMinDF = saleDF[["CustomerID", "SalesDate"]].groupby("CustomerID").min().reset_index()

In [109]:
dateMinDF.head()

   CustomerID  SalesDate
0           1 2018-01-03
1           2 2018-01-01
2           3 2018-01-01
3           4 2018-01-03
4           5 2018-01-02

In [110]:
print dateMaxDF[pd.isnull(dateMaxDF["SalesDate"])].shape
print dateMinDF[pd.isnull(dateMinDF["SalesDate"])].shape

(0, 2)
(0, 2)

In [114]:
dateCountDF = dateCountDF.rename(index=str, columns={"SalesDate":"Count"})

In [116]:
dateMaxDF = dateMaxDF.rename(index=str, columns={"SalesDate":"LatestDate"})
dateMinDF = dateMinDF.rename(index=str, columns={"SalesDate":"EarliestDate"})

In [118]:
dateMinDF.head()

   CustomerID EarliestDate
0           1   2018-01-03
1           2   2018-01-01
2           3   2018-01-01
3           4   2018-01-03
4           5   2018-01-02

In [125]:
dateCountDF[dateCountDF["Count"]>100].shape

(6, 2)

In [122]:
dateCountDF.shape

(98759, 2)

In [144]:
test = saleDF[["CustomerID", "SalesDate"]].sort_values("SalesDate", ascending=False)\
.groupby("CustomerID", sort=False).head(5)

In [142]:
test.head()

         CustomerID  SalesDate
4289787       92882 2018-05-09
3247271       97267 2018-05-09
120575        97824 2018-05-09
6515603       77993 2018-05-09
5515693       10504 2018-05-09

In [143]:
test[test["CustomerID"] == 27039]

         CustomerID  SalesDate
5947082       27039 2018-05-07
1053387       27039 2018-05-06
5374097       27039 2018-05-06
4867195       27039 2018-05-04
5276418       27039 2018-04-29

In [145]:
custLatestFiveDateDF = saleDF[["CustomerID", "SalesDate"]].sort_values("SalesDate", ascending=False)\
.groupby("CustomerID", sort=False).head(5).reset_index()

In [146]:
custMaxDateDF = custLatestFiveDateDF.groupby("CustomerID").max().reset_index().\
rename(index=str, columns={"SalesDate":"LatestDate"})

In [147]:
custMinDateDF = custLatestFiveDateDF.groupby("CustomerID").min().reset_index().\
rename(index=str, columns={"SalesDate":"EarliesttDate"})

In [148]:
custMaxDateDF.head()

   CustomerID    index LatestDate
0           1  5128158 2018-05-06
1           2  6390169 2018-05-04
2           3  5433071 2018-05-09
3           4  4922824 2018-05-08
4           5  6381063 2018-05-09

In [149]:
custMinDateDF.head()

   CustomerID    index EarliesttDate
0           1  1853549    2018-04-24
1           2   903511    2018-04-23
2           3  1835970    2018-05-05
3           4   691292    2018-05-02
4           5   468109    2018-05-01

In [152]:
custMaxDateDF = custMaxDateDF[["CustomerID", "LatestDate"]]

In [153]:
custMaxDateDF.head()

   CustomerID LatestDate
0           1 2018-05-06
1           2 2018-05-04
2           3 2018-05-09
3           4 2018-05-08
4           5 2018-05-09

In [157]:
custMinDateDF = custMinDateDF[["CustomerID", "EarliesttDate"]].rename(index=str, columns={"EarliesttDate":"EarliestDate"})

In [158]:
custMinDateDF.head()

   CustomerID EarliestDate
0           1   2018-04-24
1           2   2018-04-23
2           3   2018-05-05
3           4   2018-05-02
4           5   2018-05-01

In [159]:
new_test = pd.merge(custMaxDateDF, custMinDateDF, on="CustomerID")

In [160]:
new_test.head()

   CustomerID LatestDate EarliestDate
0           1 2018-05-06   2018-04-24
1           2 2018-05-04   2018-04-23
2           3 2018-05-09   2018-05-05
3           4 2018-05-08   2018-05-02
4           5 2018-05-09   2018-05-01

In [161]:
new_test.shape

(98759, 3)

In [162]:
new_test.dtypes

CustomerID               int64
LatestDate      datetime64[ns]
EarliestDate    datetime64[ns]
dtype: object

In [190]:
custIntervalDF = new_test

In [191]:
custIntervalDF.insert(3, "Interval", 0)

ValueError: cannot insert Interval, already exists

In [192]:
custIntervalDF.head()

   CustomerID LatestDate EarliestDate  Interval
0           1 2018-05-06   2018-04-24        12
1           2 2018-05-04   2018-04-23        11
2           3 2018-05-09   2018-05-05         4
3           4 2018-05-08   2018-05-02         6
4           5 2018-05-09   2018-05-01         8

In [193]:
type((custIntervalDF.at[0, "LatestDate"] - custIntervalDF.at[0, "EarliestDate"]).days)

int

In [194]:
for index, row in custIntervalDF.iterrows():
    custIntervalDF.at[index, "Interval"] = (row["LatestDate"] - row["EarliestDate"]).days

In [195]:
custIntervalDF.head()

   CustomerID LatestDate EarliestDate  Interval
0           1 2018-05-06   2018-04-24        12
1           2 2018-05-04   2018-04-23        11
2           3 2018-05-09   2018-05-05         4
3           4 2018-05-08   2018-05-02         6
4           5 2018-05-09   2018-05-01         8

In [196]:
custIntervalDF = custIntervalDF[["CustomerID", "Interval"]]

In [197]:
test = custIntervalDF["Interval"] / 5.0

In [198]:
test.head()

0    2.4
1    2.2
2    0.8
3    1.2
4    1.6
Name: Interval, dtype: float64

In [199]:
custIntervalDF["Interval"] = custIntervalDF["Interval"]/5.0

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [201]:
custIntervalDF.head()

   CustomerID  Interval
0           1       2.4
1           2       2.2
2           3       0.8
3           4       1.2
4           5       1.6

In [202]:
test = custIntervalDF
test["Interval"] = test["Interval"].apply(np.ceil)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [203]:
test.head()

   CustomerID  Interval
0           1       3.0
1           2       3.0
2           3       1.0
3           4       2.0
4           5       2.0

In [204]:
test["Interval"] = test["Interval"].astype(int)

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [206]:
test.dtypes

CustomerID    int64
Interval      int64
dtype: object

In [207]:
test.head()

   CustomerID  Interval
0           1         3
1           2         3
2           3         1
3           4         2
4           5         2

In [208]:
custIntervalDF = test

In [209]:
custIntervalDF.to_csv(path_or_buf="customerInterval.csv", index=False)